*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.header-bg{
    background-color: #000000;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.header-menu a{
    color: #ffffff;
    display: inline-block;
    padding: 16px 0px;
    font-size: 18px;
}

.introducao-bg{
    background: #000000;
    color: #ffffff;
}

.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.introducao-conteudo{
   align-self: flex-end;
   padding-bottom: 900px;
}

.introducao-conteudo h1{
    font-size: 64px;
    margin-bottom: 30px;
    line-height: 1.125;
}

.introducao-conteudo p{
    font-size: 20px;
    margin-bottom: 20px;
}

.introducao-conteudo a{
    color: #ffffff;
}