.introducao-bg{
    background: #000000;
    color: #ffffff;
    box-shadow: inset 0px -130px #ffffff;
}

.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.container-1 div{
    padding-right: 350px;
}

.introducao-conteudo{
   padding-top: 150px;
   padding-left: 350px;
}

.introducao-conteudo h1{
    font-size: 64px;
    margin-bottom: 30px;
    line-height: 1.125;
}

.introducao-conteudo h1 span{
    color: #ffbb00;
}

.introducao-conteudo p{
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 1.5;
    color: #b2b2b2;
}

@media (max-width: 1800px) {
    .introducao-conteudo{
        padding-top: 50px;
        padding-left: 150px;
     }
  }

@media (max-width: 1296px) {
    .introducao-conteudo{
        padding-top: 0px;
        padding-left: 100px;
     }
     .introducao-conteudo h1{
        font-size: 40px;
    }
    .introducao-conteudo p{
        font-size: 20px;
    }
    .introducao-bg{
        background: #000000;
        color: #ffffff;
        box-shadow: inset 0px -10px #ffffff;
    }
  }

  @media (max-width: 982px) {
    .container-1 div{
        padding-right: 150px;
    }
  }

  @media (max-width: 670px) {
    .container-1 div{
        padding-right: 50px;
    }
  }

